<div class="ekart--product--container">

    <app-search (searchTextChanged)="setSearchText($event)"></app-search>

    <product-list [searchTextProp]="searchText" #productListComponentRefVar></product-list>

    @if (productListComponentRefVar.selectedProduct) {
        <product-detail [productListComp]="productListComponentRefVar"></product-detail>
    }

    <!-- @for (item of listOfString; track $index) {
        <div>
            <p>Current element: {{item}}</p>
        </div>
    } -->
    
    <!-- <img [src]="product.pImage">
    <p>Name: {{product.name}}</p>
    <p>Price: ${{product.price}} </p>
    <p>Color: {{product.color}} </p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }} </p>
    <p>{{ product.inStock > 0 ? product.inStock + " products in stock" : "Cart is Empty" }}</p>
    <button (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incrementCartValue()">+</button> -->
    
    <!-- <button [disabled]="product.inStock <= 0">Buy Now</button> -->
    
    
    <!-- <input [value]="name" (input)="onNameChange($event)">
    <p>name={{name}}</p> -->
</div>

<!--Disabled, Hidden, Checked-->